{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": [ "prettier", "react-app"],
  "env": {
    "browser": true,
    "es2020": true,
    "jest": true
  },
  "ignorePatterns": ["build/*", "src/setupTests.js"],
  "rules": {
    "max-len": ["error", { "code": 100 }],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["off"],
    "no-return-assign": ["off"],
    "react/destructuring-assignment": ["off", "always", { "ignoreClassFields": true }],
    "react/jsx-one-expression-per-line": ["off", { "allow": "single-child" }],
    "no-console": "off",
    "max-lines": "off",
    "no-undef": "off",
    "no-unused-vars": ["off"]
  }
}
