.PixImage{
        max-width: 300px !important;
        height:200px !important;
}

.hover{ transition: 0.2s ease;}
.hover:hover{
	background-color: #f0f0f0;
	transform: scale(1.05);
}
@media screen and (max-width: 500px) {
.PixImage{
    max-width: 200px !important;
    height:100px !important;
}
}